<nav class="navbar navbar-expand-lg navbar-fixed-top navbar-dark bg-primary ">
  <div class="container">
    {{!-- <a href="../" class="logo">
			<img src="images/logo.png" height="35" alt="Porto Admin" />&nbsp; SISCONPER
		</a> --}}
    <div class="navbar-logo">
      <a class="mobile-menu" id="mobile-collapse" href="#!">
        <i class="feather icon-menu"></i>
      </a>
      <a href="index.htm">
        <img class="img-fluid" src="images\logo.png" alt="Theme-Logo">
      </a>
      <a href="index.htm"> &nbsp;SISCONPER</a>
      <a class="mobile-options">
        <i class="feather icon-more-horizontal"></i>
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">contrataciones</a>
          <div class="dropdown-menu" x-placement="bottom-start"
            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
            <a class="dropdown-item" href="/requisitos">Requisitos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/contrataciones">contrataciones</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">*</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/*">*</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">RRHH</a>
          <div class="dropdown-menu" x-placement="bottom-start"
            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
            <a class="dropdown-item" href="/tipo_memos">Formacion Academica</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/memos">Memos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Cargos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/personas">personas</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Memos</a>
          <div class="dropdown-menu" x-placement="bottom-start"
            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
            <a class="dropdown-item" href="/tipo_memos">Tipos Memos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/memos">Memos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Cargos</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">SEDCAM</a>
          <div class="dropdown-menu" x-placement="bottom-start"
            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
            <a class="dropdown-item" href="/direcciones">Direcciones</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/unidades">Unidades</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/cargos">Cargos</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Salir</a>
        </li>
      </ul>
    </div>
  </div>
</nav>